:root {
  --color-main: #2d82d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html {
  /* font-size: 62.5%; */
  font-size: 80%;
}

.App {
  background-color: #ddd;
  max-width: 117rem;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: 150rem;
}

.row-my {
  width: 117rem;
}
